// Estilos para pantallas pequeñas
@media (max-width: 767px) {
  .cartas__color{
    background-color: violet; 
  }

  ion-content{
    --ion-background-color:rgb(3, 75, 30);
  }
  

}

// Estilos para pantallas medianas
@media (min-width: 768px) and (max-width: 991px) {
  .cartas__color{
    background-color: orange; 
  }

  ion-content{
    --ion-background-color:black;
  }
  
}

// Estilos para pantallas grandes
@media (min-width: 992px) {
  .cartas__color{
    background-color: blue; 
  }

  ion-content{
    --ion-background-color:#78CC66;
  }
  

}

.cartas__color{
  color: whitesmoke; 
}

// Estilos para la tarjeta de Pokémon específicamente
.imagen__grande {
  width: 100%; /* O ajusta el ancho de la imagen según lo necesario */
  height: auto;
  object-fit: cover; /* Para mantener la relación de aspecto */
}

.contenido__flex {
  display: flex;
  align-items: center;
}

.info__derecha {
  margin-left: 20px; /* Ajusta el margen para separar la imagen y la información */
}



@media (orientation: landscape) {
  .cartas__color{
    background-color: red; 
  }
}

@media (orientation: portrait) {
  .cartas__color{
    background-color: pink; 
  }
}



